@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0;
	font-family: "Open Sans", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Open Sans", serif;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Responsivness styles */
#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
