.container{
    padding:10px ;
    width: 100%;
    box-sizing: border-box;
}

.pr-5{
    padding-right: 5px;
    font-weight: 600;
}
.pr-5{
    padding-left: 5px;
}

.wd-100{
    width: 100%;
    font-weight: 600;
    margin: 20px 0 10px 0;
}
.wd-50{
    width: cal(50% - 5px);
    box-sizing: border-box;
    display: inline-block;
}

.label{
    font-size: 12px;
    margin-bottom: 5px;
}


.input-bx{
    border: 1px solid rgba(221, 216, 216, 0.88);
    padding: 14px 16px 14px 16px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 4px;
}

.text{
    font-weight: 600;
    margin: 20px 0 10px 0;
}
.input{
    padding: 14px 16px 14px 16px;
    border-radius: 4px;
    margin: 3px;
    border: 2px solid rgba(221, 216, 216, 0.88);
    box-shadow: 0.6px rgb(212, 208, 208); 
    margin-bottom:20px ;
    width: 90%;
    color: rgba(0, 0, 0, 0.712);
}

.input_small{
    border-radius: 4px;
    padding: 14px 30px 14px 30px;
    border: 2px solid rgba(221, 216, 216, 0.88);
    box-shadow: 0.6px rgb(212, 208, 208); 
    margin-bottom:20px ;
    color: rgba(0, 0, 0, 0.712);
}

.buttonCancel{
    color:rgb(228, 217, 217) ;
    padding: 14px 35px 14px 35px;
    font-size: 100%;
    border: 0.6px solid rgb(228, 217, 217);
    box-shadow: 0.6px rgb(212, 208, 208); 
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: rgb(83, 79, 79);
    margin: 1% 1%;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(221, 215, 215); 
    font-size: medium;
}

.buttonContinue{
    color:rgb(228, 217, 217) ;
    padding: 14px 35px 14px 35px;
    font-size: 100%;
    border: 0.6px solid rgb(228, 217, 217);
    box-shadow: 0.6px rgb(212, 208, 208); 
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 1% 1%;
    cursor: pointer;
    font-weight: 600;
    background-color: #5e1b85e7;
}