body {
    background-color: #E5E5E5;
}
/* Header */
.common-header {
    display: flex;
    background-color: #593487;
    height: 60px;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    /* margin-bottom: 2rem; */
}
.header-logo {
    display: flex;
    flex-direction: column;
    margin: 0px 0.96px;
}
.header-logo-up {
    background-image: url("../../public/img/header-logo-up.svg");
    background-repeat: no-repeat;
    height: 14.033844947814941px;
    width: 32.246686935424805px;
    border-radius: 0px;
    user-select: none;
}
.header-logo-down {
    background-image: url("../../public/img/header-logo-down.svg");
    background-repeat: no-repeat;
    height: 2.2196388244628906px;
    width: 32.246686935424805px;
    border-radius: 0px;
    user-select: none;
}
.headerName {
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    /* font-family: 'proxima-nova-n4, proxima-nova, Milliard, Helvetica, arial, sans-serif'; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Footer */
.footer {
    bottom: 0;
    z-index: 5;
    background-color: #ffffff;
    border-top: 1px solid #CCCCCC;
    box-sizing: border-box;
    height: 65px;
    width: 100%;
    color: #FFF;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.footer-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110.5%;
    display: flex;
    align-items: center;
    color: #333333;
}
.footer-tos {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110.5%;
    display: flex;
    align-items: center;
    color: #0A72CB;
}