/* *{
   border: 1px solid red;
} */


.hero {
    padding: 16px;
    display:flex ;
    justify-content: flex-start;
    flex-direction: column  ;
    height: 540px ;
    width: 340px ;
    background-color: white ;
    border: 1px solid rgb(229, 225, 235)  ; 
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px 1px grey ; */
}
.text{
    font-weight: 600;
    margin: 20px 0 10px 0;
}
.error{ 
    padding-left: 10px;
    display: inline-flex;
    align-items: center;
    height: 80px;
    /* padding: 20px; */
    border: 1px solid rgb(192, 13, 13);
    border-radius: 5px;
    background-color: rgba(247, 211, 211, 0.205);
    color: rgb(189, 14, 14);
    font-weight: 600;
}

.button_text,
.button_icon {
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;
}
.button_icon_warning{
    font-size: 22px;
}

.input{
    border-radius: 4px;
    padding: 11px;
    border: 2px solid rgba(221, 216, 216, 0.88);
    box-shadow: 0.6px rgb(212, 208, 208); 
    margin-bottom:20px ;
    width: 90%;
    color: rgba(0, 0, 0, 0.712);
}

.buttonCancel{
    color:rgb(228, 217, 217) ;
    padding: 1px;
    height: 35%;
    width: 48%;
    font-size: 100%;
    border: 0.6px solid rgb(228, 217, 217);
    box-shadow: 0.6px rgb(212, 208, 208); 
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: rgb(83, 79, 79);
    margin: 1% 1%;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(221, 215, 215); 
    font-size: medium;
}

.buttonContinue{
    color:rgb(228, 217, 217) ;
    padding: 1px;
    height: 35%;
    width: 48%;
    font-size: 100%;
    border: 0.6px solid rgb(228, 217, 217);
    box-shadow: 0.6px rgb(212, 208, 208); 
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 1% 1%;
    cursor: pointer;
    font-weight: 600;
    background-color: #5e1b85e7;
}
