body {
  background-color: #e5e5e5;
}
.lookup-view {
  height: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}
.lookup-view {
  display: flex;
  justify-content: center;
}
.lookup {
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.lookup-title {
  font-size: 21px;
  line-height: 21px;
  /* font-family: "Proxima Nova"; */
  font-style: normal;
  font-weight: 600;
  margin-top: 23px;
  color: #454545;
}
.starting-logo {
  background-image: url("../../public/img/starting-logo.svg");
  background-repeat: no-repeat;
  height: 84.32543182373047px;
  width: 83.28767395019531px;
  border-radius: 0px;
  user-select: none;
  margin: 49.82px 0px 47.86px 0px;
}
.tos {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  align-items: baseline;
  margin-bottom: 29px;
  line-height: 110.5%;
}
.tos-line {
  padding-right: 2px;
}
.tos-label {
  color: #0A72CB;
  font-weight: 600;
  cursor: pointer;
}
.container {
  text-align: center;
}
.toggle-switch {
  position: relative;
  width: 47px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 22px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: 0.2s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 26px;
  padding: 0;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "";
  padding-left: 10px;
  background-color: #0a72cb;
  color: #fff;
}
.inner:after {
  content: "";
  padding-right: 10px;
  background-color: #999999;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 16px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  border: 0 solid #bbb;
  border-radius: 22px;
  transition: all 0.2s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

.getStartedbtn {
  background-color: #593487;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  border: 0;
  align-items: center;
  margin-bottom: 23px;
}
.getStartedbtn-disabled {
  background-color: #d8d8d8;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  border: 0;
  align-items: center;
  margin-bottom: 23px;
}
.btn-label {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  align-self: center;
}

/* Terms Of Service label */
.terms-body {
  width: 600px;
  height: 611px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* Terms Of Service page */
/* .terms-of-service {
  background: rgba(0, 0, 0, 0.6);
} */
.tos-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
  position: relative;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  background-color: #E5E5E5;
  /* background: rgba(0, 0, 0, 0.3); */
  top: -23.8rem;
  /* margin-bottom: 2rem; */
  padding-top: 2rem;
}
.close-btnBox {
  display: flex;
  width: 600px;
  margin-bottom: 8.33px;
}
.close-btn {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 128.5%;
  color: #333333;
  cursor: default;
}
.close-button {
  font-size: 15px;
  border: none;
  outline: none;
}
.icon-close {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90a";
  color: #333333;
}
.terms-body {
  width: 600px;
  height: 611px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.tos-title {
  font-size: 21px;
  line-height: 21px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  padding: 21px 0px;
}
.tos-labels {
  width: 546px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  text-align: justify;
}
a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}