.customerDetails-body {
	display: flex;
	flex-direction: column;
	height: 503px;
	width: 320px;
	background-color: white;
	border: 1px solid rgb(229, 225, 235);
	border-radius: 5px;
	align-items: center;
}
.details-label {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	color: #333333;
	margin-bottom: 8.37px;
}
.wd-278 {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 14.02px;
}
.wd-277 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 14.42px;
	margin-bottom: 15.02px;
}
#wd-278 {
	display: flex;
	justify-content: center;
	margin-bottom: 18px;
}
.wd-133 {
	display: flex;
	width: 278px;
	gap: 12px;
}
#input-bx {
	padding: 10.5px 11px 10.5px 8px;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	margin-top: 8.37px;
	background: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	outline: none;
}
.input-bx {
	padding: 11.19px 11px 10.42px 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	margin-top: 8.37px;
	background: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}
#input-bx:focus {
	border: 1px solid #428BCA !important;
}
.detailsContinue-btn {
	width: 133px;
	padding: 11px 0px 12px 0px;
	background-color: white;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	background: #593487;
	border: none;
	border-radius: 3px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	justify-content: center;
	float: right;
	align-items: center;
	text-transform: uppercase;
}
.detailsCancel-btn {
	padding: 11px 0px 12px 0px;
	width: 133px;
	background-color: white;
	text-align: center;
	color: #333333;
	cursor: pointer;
	background: #dddddd;
	border: none;
	border-radius: 3px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -40px;
	left: -54%;
}
